/*      Misty Folmsbee
        3-6-2020
        CS 125H-Term Project-CSS
        Lab 8
*/

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}
body { 
    color : black; 
    font-family : Arial, Helvetica, sans-serif; 
    font-size : 100%;
    width: 80%;
    max-width: 800px;
    background-color: beige;
    margin: 0 auto;
    border: 2px solid #568ba1;
}
a:focus, a:hover { 
    font-style:  italic; 
    color: #e79054;
}
.shadow {
    color: green;
    text-shadow: 2px 2px 2px #BF9E93;
}
img { 
    border: 2px black;
    padding: .25em;}
h2,h3 {
    color: green;
    margin: 1em 0;
}
h2 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: .5em;
}
header{
    border-bottom: 5px dashed #568ba1;
    padding: 1em 0;
    background-image: linear-gradient(30deg, #568ba1 0%, #96a6a3 40%, white 50%, #568ba1 80%, #96a6a3 100% )
}
header h1 {
    font-size: 200%;
    text-align: center;
    color: black;
    padding: 1em;
}
header img { 
    width: 30%;
    float: left;
    padding: 1em;
    border: none;
}
nav {
    background-color: #568ba1;
    padding: 1em o;
    min-height: 1em;
}
    
nav ul {
    list-style-type: none;
    position: relative;
    width: 100%;
}

nav ul li {
    float: left;
    width: 33.33%;
}
nav ul li a {
    text-align: center;
    display: block;
    /*width: 160px;*/
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav ul li a.current {
    color: darkgreen;
}
main {
    clear: left;
}

section {
    border-right: 3px solid #568ba1;
    padding: 0 1em;
    width: 60%;
    float: left;
}
section ul {
    margin-left: 1em;
}
section ul li {
    margin-bottom: 1em;
    padding-left: .5em;
    line-height: 1.3em;
}
img {   
    width: 50%;
    display: block;
    margin: auto;
}
table {
    font-family: arial, sans-serif;
    color: #568ba1;
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
article {   
    padding: 1em;
    border-top: 2px solid #568ba1;
}
aside {
    width: 33%;
    float: right;
    padding: .25em;
}

aside img {
    width: 50%;
    height: auto;
    float: right;
    margin: .5em;
}

footer {
    clear: both;
    border-top: 2px double #568ba1;
    background-color: #568ba1;
}

footer p { 
    text-align: center;
}
#copyright {font-size: 60%;
}
 
